* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  background-color: white;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* Variabler af farver */
html {
  --font1: "Pathway Gothic One", sans-serif;
  --green: #517d5b;
  --lys_green: #6d9467;
  --winter: #adcfe7;
  --winter_skrift: #ffffff;
  --spring: #afdebc;
  --spring_skrift: #39923c;
  --summer: #ffe5a3;
  --summer_skrift: #ba8a3f;
  --fall: #ffbb94;
  --fall_skrift: #ab5200;
  --risiko: #ff988b;
  --nb: #757a7b;
}

h1,
h2,
h3,
h4 {
  font-family: "Pathway Gothic One", sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f1f1f1;
}

/* --------------- Styling af a-tags --------------- */
/* Bestemmer at der ikke skal være nogen styling af links, de skal ikke understreges og 
heller ikke se anderledes ud efter de er blevet klikket på */
a {
  text-decoration: none;
}

a::after {
  text-decoration: none;
}

/*footer*/
.img_footer {
  width: 8%;
}

.footer_container {
  display: flex;
  justify-content: space-between;
}

.footer_text {
  text-align: center;
}

footer {
  color: var(--green);
}
