.container {
  position: relative;
  text-align: center;
  color: white;
}
.overskrift {
  position: absolute;
  top: 1rem;
  left: 40rem;
}

.match_top_left {
  position: absolute;
  left: 10%;
  top: 10%;
}

.match_top_right {
  position: absolute;
  top: 10%;
  left: 75%;
}

.match_btm_left {
  position: absolute;
  left: 20%;
  top: 60%;
}
.match_btm_right {
  position: absolute;
  top: 60%;
  left: 70%;
}

.match_mid {
  position: absolute;
  top: 40%;
  left: 45%;
}

.tekst {
  padding-left: 300px;
  padding-right: 300px;
}
.tekst1 {
  text-align: center;
  padding-top: 15rem;
}

.dropdown button {
  color: var(--green);
  padding: 1rem 4rem;
  cursor: pointer;
  border: none;
}

.dropdown a {
  display: block;
  color: var(--green);
  text-decoration: none;
  padding: 10px 15px;
}

.dropdown .content {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  min-width: 12rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.373);
}

.dropdown:hover .content {
  display: block;
}

.dropdown a:hover {
  background-color: #517d5b14;
}
.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.karl {
  max-height: 60%;
  padding-top: 3rem;
}
