/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* memory game */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--summer);
  min-height: 100vh;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: #f8edd2;
  padding: 20px 40px;
}

h2 {
  font-size: 3em;
}

.item {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  background: #fff;
  transform: rotateY(180deg);
  transition: 0.25s;
}

.item.boxOpen {
  transform: rotateY(0deg);
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;
  /* opacity: 0.5; */
  background: var(--summer);
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
}

.boxOpen:after,
.boxMatch:after {
  transform: rotateY(180deg);
}

.reset {
  padding: 15px 20px;
  color: black;
  background: #fff;
  border: none;
  font-size: 1.5em;
  text-transform: uppercase;
}

.reset:focus {
  background: var(--summer);
  color: #fff;
}

.game {
  width: 440px;
  height: 440px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}

body {
  background-color: var(--summer);
}

/* main {
  overflow: hidden;
} */

header {
  background-color: white;
}

.overskrift {
  width: 40%;
  margin: auto;
  margin-bottom: 5%;
}

.vendespil {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3%;
  padding-bottom: 5%;
}
/* computer */
@media (min-width: 800px) {
  .overskrift {
    width: 40%;
  }
  /* 6 rækker */
  .vendespil {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5%;
    margin-bottom: 5%;
  }
}
