.container {
  position: relative;
  text-align: center;
  color: white;
}

.overskrift {
  position: absolute;
  top: 1rem;
  left: 40rem;
}

.tekst {
  padding-left: 300px;
  padding-right: 300px;
}

.tekst1 {
  text-align: center;
  padding-top: 15rem;
}
